<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>

    <style>
        .centered {
            text-align: center;
        }

        .left {
            text-align: left;
        }

        .right {
            text-align: right;
        }

        .underlined {
            text-decoration: underline;
        }

        .datatable {
            width: 90%;
            border-collapse: collapse;
            padding: 5px;
            margin: auto;
        }

        .datatable td {
            margin: 0px;
            padding: 2px;
            border: 1px solid #000;
        }
    </style>
</head>
<body>
{% block body %}{% endblock %}
</body>
</html>