{% extends "base.html" %}
{% block body %}
<h3>Counter: {{done}} / {{tot}}&nbsp;&nbsp;&nbsp;&nbsp;Attribute: {{attr}}</h3>
<table class="datatable">
    <tr>
        <td class="centered"><b>Value</b></td>
        <td class="centered"><b>Number</b></td>
        <td class="centered"><b>Percentages</b></td>
		<td class="centered"><b>Not in list</b></td>
    </tr>
{% for row in table_rows %}
    <tr>
       <td class="centered">{{row.val}}</td>
       <td class="centered">{{row.nbr}}</td>
	   <td class="centered">{{row.pct}}</td>
       <td class="centered"><span>{{row.ext}}</span></td>
    </tr>
{% endfor %}
</table>
{% if ext_count > 1 %}
<p>
    Attention! Several values are not present in the loaded values list.<br/>
    Maybe this layer was processed with another list previously.
</p>
{% endif %}
{% endblock %}